{% extends 'base.html.twig' %}

{% block title %}Edit Auteur{% endblock %}

{% block body %}
    <h1>Edit Auteur</h1>
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">

    {{ include('auteur/_form.html.twig', {'button_label': 'Update'}) }}        </div>
        </div>
    </div>
</section>



    <a href="{{ path('app_auteur_index') }}">back to list</a>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
